body {
    background-color: #2c3e50;
    color: white;
}

h1 {
    color: #34495e;
    transition: color 0.5s ease-in-out;
}

.clicked {
    color: #7f8c8d;
}

.form, .greetings {
    display: none;
}

.greetings {
  font-size: 3em;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}

.clock {
    text-align: center;
    font-size: 3em;
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
}

.alignCenter {
  text-align: center;
}

li {
  list-style: none;
}
